@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


/* ---------------------// COMMON //-------------------- */

* {
    font-family: 'Montserrat', sans-serif;
    /* color: white; */
}
body {
    margin: 0;
}

section {
    width: 600px;
    margin: 50px auto;
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(54, 56, 81, 0.8);
    text-align: center;
}
h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
}


/* ---------------------// HEADER //-------------------- */

.page-header {
    background-color: rgba(39, 41, 62, 0.95);
    color: white;
    padding: 30px;
}

.page-header h1 {
    /* font-family: 'Bree Serif', serif; */
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.user_id_container {
    position: absolute;
    top: 150px;
    right: 5%;
}

#user_settings {
    position: relative;
    top: -30px;
    width: fit-content;
    padding: 10px 5px;
    border: none;
}

.page-header nav {
    display: inline;
    margin: 0 auto;
}

.page-header ul {
    padding: 0;
    text-align: center;
}

.page-header li {
    display: inline;
    list-style: none;
    padding: 20px;
}

.page-header li:hover {
    background-color: rgba(211, 211, 211, 0.1);
}

.page-header a {
    text-decoration: none;
    color: white;
}



/* ----------------------// USER LOGIN / SIGNUP //-------------------- */

.user_login, .user_signup {
    height: 65vh;
    padding-top: 10%;
    padding-bottom: 25%;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}

.login_container,
.signup_container {
    color: white;
    width: 400px;
}
.login_container input,
.login_container input::placeholder {
    text-align: center;
}

form {
    margin: 50px auto;
}
form input,
select {
    display: block;
    width: 300px;
    padding: 20px;
    margin: 20px auto;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    border-bottom: 1px solid white;
}
::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
form select {
    width: 224px;
}
.submit {
    margin: 30px auto;
    padding: 10px;
    width: 80px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
}

.signup-link {
    margin-bottom: -20px;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.login-out {
    padding: 10px 20px;
    position: relative;
    left: 25px;
}

.login,
.signup {
    display: block;
    width: 150px;
    padding: 10px 0;
    margin: 50px auto;
    font-size: 14px;
    text-decoration: none;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: white;
    /* font-weight: bold; */
    padding: 15px;
}

.error {
    font-size: 12px;
    position: relative;
    top: -12px;
    margin-bottom: -32px;
    opacity: 0;
}


/* ----------------------// HOME //-------------------- */

.search-container {
    display: block;
}
.search-container .search-bar {
    margin: 0 auto;
    padding-left: 90px;
    width: fit-content;
}

.search-container .search-input {
    display: inline-block;
    padding: 15px 40px 15px 40px;
    padding-right: 200px;
    border-radius: 30px;
    border: 1px solid black;
    color: #777;

    background-image: url("/static/imgs/search-bar-icon.png");
    background-color: rgba(255, 255, 255, 0.7);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center left 10px;
}

.search-input::placeholder {
    color: #777;
}

.search-container .search-button {
    color: #777;
    border: none;
    display: inline-block;
    position: relative;
    left: -90px;
    cursor: pointer;
}


/* ----------------------// RESULTS //-------------------- */

.results {
    width: 800px;
    margin: 0 auto;
}
.no_result {
    text-align: center;
    margin: 0 auto;
}