@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


/* ---------------------// COMMON //-------------------- */

* {
    font-family: 'Montserrat', sans-serif;
    /* color: white; */
}
body {
    margin: 0;
}
main {
    margin: 0 auto;
}

section {
    width: 600px;
    margin: 50px auto;
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(54, 56, 81, 0.8);
    text-align: center;
}
h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
}



/* -------------------------// HEADER //------------------------ */

.page-header {
    background-color: rgba(39, 41, 62, 0.95);
    color: white;
    padding: 0;
    height: fit-content;
}
.page-header h1 {
    text-align: center;
    display: block;
    width: fit-content;
    font-size: 45px;
    margin: 0 auto;
    padding: 0;
    color: white;
    position: relative;
    top: 25px;
}
.login-out {
    color: white;
    text-decoration: none;
    position: relative;
    top: 35px;
}

/* ----------// SEARCH BAR //---------- */

.search-container {
    display: inline-block;
    
}

.search-container .search-bar {
    margin: 20px auto -15px auto;
    padding-left: 90px;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    position: relative;
    left: 45vw;
    top: -10px;
    transform: translateX(-50%);   
}

.search-container .search-input {
    display: inline-block;
    padding: 15px 40px 15px 40px;
    padding-right: 200px;
    border-radius: 30px;
    color: #777;

    background-image: url("/static/imgs/search-bar-icon.png");
    background-color: rgba(255, 255, 255, 0.8);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center left 10px;
}

.search-input::placeholder {
    color: #777;
}

.search-container .search-button {
    color: #777;
    border: none;
    display: inline-block;
    position: relative;
    left: -90px;
    cursor: pointer;
}

/* ----------// NAV BAR //---------- */

.nav_cont {
    display: inline;
    position: relative;
    top: -25px;
    /* left: 5px; */
}
.navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .icon {
    background-image: url('/static/imgs/menu-icon.png');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    color: white;
    padding: 15px;
    background-color: inherit;
}

.navbar a:hover,
.dropdown:hover .icon {
    background-color: #dc5375;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 20px 30px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgba(230, 230, 230, 0.3);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ----------// USER SETTINGS //---------- */

.user_id_container {
    position: absolute;
    top: 10px;
    right: 3%;
}

#user_settings {
    text-align: right;
    width: 120px;
    padding: 10px 10px 10px 30px;
    border: none;

    background-image: url("/static/imgs/profile_icon.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center left ;

} 

/* ----------------------// USER LOGIN / SIGNUP //-------------------- */

.user_login, .user_signup {
    height: 65vh;
    padding-top: 10%;
    padding-bottom: 25%;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}

.login_container,
.signup_container {
    color: white;
    width: 400px;
}
.login_container input,
.login_container input::placeholder {
    text-align: center;
}

form {
    margin: 50px auto;
}
form input,
select {
    display: block;
    width: 300px;
    padding: 20px;
    margin: 20px auto;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    border-bottom: 1px solid white;
}
::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
form select {
    width: 224px;
}
.submit {
    margin: 30px auto;
    padding: 10px;
    width: 80px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
}

.signup-link {
    margin-bottom: -20px;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.login-out {
    padding: 10px 20px;
    position: relative;
    left: 25px;
}

.login,
.signup {
    display: block;
    width: 200px;
    padding: 10px 0;
    margin: 50px auto;
    font-size: 14px;
    text-decoration: none;
}
.login:hover,
.signup:hover {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: navy;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.1s;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: white;
    /* font-weight: bold; */
    padding: 15px;
}

.error {
    font-size: 12px;
    position: relative;
    top: -12px;
    margin-bottom: -32px;
    opacity: 0;
}


/* ----------------------// HOME //-------------------- */

#cover {
    height: 400px;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}
#cover h1 {
    color: white;
    width: fit-content;
    font-size: 50px;
    margin: 150px auto;
    padding: 15px 40px;
    font-weight: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.home .search-container{
    margin-left: 80px;
}
.home .search-input{
    color: #777;
    border: 1px solid #777;
}
.home p {
    text-align: center;
    color: grey;
    opacity: 0.5;
}



/* ----------------------// RESULTS //-------------------- */

.results {
    width: 800px;
}
.no_result {
    text-align: center;
    margin: 100px auto;
}
.result_container {
    width: 600px;
    height: 150px;
    border-radius: 5px;
    overflow: hidden;
    padding: 0;
    margin: 20px auto;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
}
.result_container .result_tn {
    display: inline;
    height: 100%;
}
.result_container p {
    display: inline;
    position: relative;
    top: -110px;
    left: 20px;
    color: #777;
    font-weight: bold;
}


/* ----------------------// RECIPE //-------------------- */

.recipe {
    width: 800px;
}
.recipe_container{
    width: 800px;
    margin-bottom: 200px;
    line-height: 1.7em;
}
.recipe_container img {
    width: 100%;
    margin-top: 50px;

}
.recipe_container h1 {
    margin: 50px 0;
}
.recipe_container summary {
    margin: 10px 0;
}
.recipe_container .diets div {
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 10px 0;
}
.recipe_container .servings {
    
}
.recipe_container #slider {
    width: 150px;
    margin: 10px;
    position: relative;
    top: 3px;
}
.servings #serving_value {
    display: inline-block;
    font-size: 18px;
}
.method_flex {
    display: flex;
    justify-content: space-around;
}
#ingredients_cont, #method_cont{
    width: 370px;
    display: inline-block;
}
#ingredients_cont h4, #method_cont h4 {
    background-color: rgba(240, 240, 240, 0.7);
    padding: 10px;
    color: #777;
}
.ingredient {
    padding: 10px;
    width: 300px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.ingredient span {
    display: inline-block;
    padding: 5px 0.3em 5px 0;
   
}
.ingredient .quantity {
    font-weight: bold;
}
#method_cont {
    width: 400px;
}
.steps ol>li {
    padding: 10px 0 10px 30px;
    list-style-type: style type;
}

.steps ol li::marker{
    color: white;
    font-weight: bold;
    
} 
.steps ol li:before{
    position: relative;
    display: inline-block;
    top: 8px;
    left: -57px;
    width: 28px;
    height: 28px;
    margin-right: -30px;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #fff;
    background-color: #e56081d6;
    border-radius: 50%;
    content: '';
    z-index: -5;
}

.recipe_buttons {
   display: block;
   text-align: center;
   margin: 80px auto;
}
#fav_button, .recipe #sl_button {
    display: inline-block;
    text-align: center;
    line-height: 20px;
    padding:  15px;
    margin: 0 15px;
    width: 250px;
    height: 20px;
    text-decoration: none;
    color: black;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s;
}
#fav_button:hover, #sl_button:hover {
    background-color: rgb(65, 65, 65);
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}





/* ----------------------// SAVED RECIPES //-------------------- */

.favourite_recipes {
    width: 800px;
}
.favourite_recipes h1 {
    text-align: center;
    margin: 50px 10px;
}
.flex_cont {
    display: flex;
    flex-wrap: wrap;
    width: 810px;
}
.saved_recipe_cont {
    width: 250px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    padding: 0;
    margin: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.saved_recipe_cont img {
    width: 100%;
}
.saved_recipe_cont h4 {
    margin: 10px 20px;
    color: rgb(64, 64, 64);
}
.saved_recipe_cont p {
    margin: 10px 20px;
    color: rgb(150, 150, 150);
    font-size: 12px;
}
.saved_recipe_cont .diets {
    margin-left: 20px;
}
.diets div {
    display: inline-block;
    
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
    color: #777;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
}

.delete_button {
    position: relative;
    left: 220px;
    top: -150px;
    display: block;
    margin: -20px;

    width: 40px;
    padding: 15px 20px;
    width: fit-content;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    opacity: 0;
    transition: 0.5s;
}

.delete_button:hover {
    transform: scale(1.5);
    opacity: 1;
    cursor: pointer;
}
    

/* ----------------------// PLANNER //-------------------- */

.planner {
    margin: 50px auto;
}
.row, .days {
    display: flex;
    justify-content: center;
}
.day {
    width: 150px;
    height: 40px;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    background-color: #e56081;
    color: white;
    text-align: center;
    line-height: 40px;
}
.meal {
    width: 150px;
    height: 120px;
    border-bottom: 1px solid rgba(180, 180, 180, 1);
    border-right: 1px solid rgba(180, 180, 180, 1);
    text-align: center;
    line-height: 70px;
}

#calendar {
    width: fit-content;
    margin: 0 auto;
    border-left: 1px solid rgba(180, 180, 180, 1);
}


/* ----------------------// SHOPPING LIST //-------------------- */

.shopping_list {
    width: 800px;
    text-align: center;
}

.shopping_list h1 {
    text-align: center;
    margin: 50px 10px;
}