<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Meal Planner</title>
    <link rel="stylesheet" href="/static/styles.css">
    {% endblock %}
</head>

<body>
    {% block header %}
    <header class="page-header">
        {% block login %}
        <div class="user_id_container">
            {% if user %}
            <div>
                <select id="user_settings">
                    <option value="" selected disabled>{{ user }}</option>
                    <option value="/login">Switch User</option>
                    <option value="/logout">Logout</option>
                </select>
            </div>
            {% else %}
            <a class="submit login-out" href="/login">Login</a>
            {% endif %}
        </div>
        {% endblock %}
        
        <h1>Meal Planner</h1>
        <nav class="nav">
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="#">PLANNER</a></li>
                <li><a href="/saved_recipes">RECIPES</a></li>
                <li><a href="# ">SHOPPING LIST</a></li>
            </ul>
        </nav>
    </header>
    {% endblock %}

    {% block content %}{% endblock %}

    {% block script %}
    <script>
        const user_settings = document.getElementById('user_settings')
        user_settings.onchange = function () {
            if (confirm(`Are you sure you want to log out?`)) {
                window.location = this.value;
            }
        }
    </script>
    {% endblock %}
</body>
</html>