<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Pocket Chef</title>
    <link rel="stylesheet" href="/static/styles.css">
    {% endblock %}
</head>

<body>
    {% block header %}
    <header class="page-header">
        {% block login %}
        <div class="user_id_container">
            {% if user %}
            <div>
                <select id="user_settings">
                    <option value="" selected disabled>{{ user }}</option>
                    <option value="/user_profile">Profile</option>
                    <option value="/login">Switch User</option>
                    <option value="/logout">Logout</option>
                </select>
            </div>
            {% else %}
            <a class="submit login-out" href="/login">Login</a>
            {% endif %}
        </div>
        {% endblock %}

        {% block page_heading %}<h1>Pocket Chef</h1>{% endblock %}
        <div class="nav_cont">
            <nav class="navbar">
                <div class="dropdown">
                    <button class="icon"></button>
                    <div class="dropdown-content">
                        {% if user %}
                        <a href="/home">HOME</a>
                        <a href="/planner">PLANNER</a>
                        <a href="/saved_recipes">FAVOURITES</a>
                        <a href="/shopping_list">SHOPPING LIST</a>
                        <a href="/login">SWITCH USER</a>
                        <a href="/logout">LOGOUT</a>
                        {% else %}
                        <a href="/home">HOME</a>
                        <a href="#">PLANNER</a>
                        <a href="#">FAVOURITES</a>
                        <a href="#">SHOPPING LIST</a>
                        {% endif %}

                    </div>
                </div>
            </nav>
        </div>
        {% block search_bar %}
        <div class="search-container">
            <form class="search-bar" method="POST" action="/results">
                <input class="search-input" type="text" placeholder="Search recipes . . ." name="search">
                <input class="submit search-button" type="submit" value="Search">
            </form>
        </div>
        {% endblock %}

    </header>
    {% endblock %}

    <div class="content_container">
        {% block content %}{% endblock %}
    </div>

    {% block script %}
    <script>
        const user_settings = document.getElementById('user_settings')
        user_settings.onchange = function () {
            console.log('test')
            if (this.value == '/user_profile') {
                window.location = this.value;
            } else if 
                (confirm(`Are you sure you want to log out?`)) {
                window.location = this.value;
            }
        }
    </script>
    {% endblock %}
</body>
</html>