{% extends 'base.html' %}
{% block title %}Planner{% endblock %}

{% block content %} 

<main class="planner">
    <div id="calendar">
        <div class="days">
            <div class="day">Sun</div>
            <div class="day">Mon</div>
            <div class="day">Tue</div>
            <div class="day">Wed</div>
            <div class="day">Thur</div>
            <div class="day">Fri</div>
            <div class="day">Sat</div>
        </div>
        <div class="row" id="row-2">
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
        </div>
        <div class="row" id="row-3">
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
        </div>
        <div class="row" id="row-4">
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
        </div>
        <div class="row" id="row-5">
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
        </div>
</main>

{% endblock %}