{% extends 'base.html' %}
{% block title %}Planner{% endblock %}

{% block content %} 

<main class="planner">
    <div id="calendar">
        <div class="days">
            <div class="day">MON</div>
            <div class="day">TUE</div>
            <div class="day">WED</div>
            <div class="day">THU</div>
            <div class="day">FRI</div>
            <div class="day">SAT</div>
            <div class="day">SUN</div>
        </div>
        <div class="row" id="row-2">
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
        </div>
        <div class="row" id="row-3">
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
        </div>
        <div class="row" id="row-4">
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
        </div>
        <div class="row" id="row-5">
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
            <div class="meal"></div>
        </div>
</main>

{% endblock %}

{% block script %}
{{ super() }}
<script>
    date = '{{ today }}'
    console.log(`Today's date = ${date}`)

    let curr = new Date 
    let thisWeek = [] 

    for (let i = 1; i <= 7; i++) {
        let first = curr.getDate() - curr.getDay() + i 
        let date = new Date(curr.setDate(first)).toISOString().slice(0, 10)
        let dayDate = parseInt(date.slice(-2))
        thisWeek.push(dayDate)
    } 
    console.log(`This week days = ${thisWeek}`)

    for (day in thisWeek) {
        let date = document.getElementsByClassName('day')[day]
        date.innerHTML = date.innerHTML + ' ' + thisWeek[day]
    }
    
</script>
{% endblock %}