{% extends 'base.html' %}
{% block title %}Recipe{% endblock %}

{% block content %}
<main class="results">

    <div class="search-container">
        <form class="search-bar" method="POST" action="/results">
            <input class="search-input" type="text" placeholder="Search recipes" name="search">
            <input class="submit search-button" type="submit" value="Search">
        </form>
    </div>
    
    <div class="recipe_container">
        <img src="{{ recipe_dict['image'] }}">

        <h1 class="title">{{ recipe_dict['title'] }}</h1>

        <p class="prepTime"><strong>PREP </strong>{{ recipe_dict['prepTime'] }} mins</p>

        <p id="summary"></p>

        <div class="diets">
        {% for diet in recipe_dict['diets'] %}
            {% if 'gluten free' in diet %}
            <div>GF</div>
            {% endif %}
            {% if 'dairy free' in diet %}
            <div>DF</div>
            {% endif %}
            {% if 'vegan' in diet %}
            <div>V</div>
            {% endif %}
        {% endfor %}
        </div>

        <div class="servings">
            <strong>Serves </strong>
            <input id="slider" type="range" min="1" max="24">
            <p id="serving_value">{{ recipe_dict['servings'] }}</p>
        </div>

        <div id="ingredients_cont">
            <h4>INGREDIENTS</h4>
        </div>

        <div id="method_cont">
            <h4>METHOD</h4>
        </div>

        <form method="POST" action="/add_favourite/{{ recipe_dict['id'] }}">
            <button id="fav_button" onclick="alert('Recipe saved to Favourites!')">Add to favourites ♥</button>
        </form>
            
        <button id="sl_button">Add to shopping list</button>
    </div>

</main>
{% endblock %}

{% block script %}
{{ super() }}
<script>
    let multuplier = 1

    let recipe_dict = '{{ recipe_dict | tojson }}'
    recipe_dict = JSON.parse(recipe_dict)
    console.log(recipe_dict)

    summaryJson = '{{ summary | tojson }}'
    summaryText = summaryJson.slice(1, -1)
    summaryText = summaryText.replace(/<[^>]+>/g, "")
    summaryText = summaryText.replace(/spoonacular/g, "")
    let summary = document.getElementById('summary')
    summary.innerText = summaryText

    let slider = document.getElementById('slider')
    let serving_value = document.getElementById('serving_value')
    let servings = recipe_dict['servings']
    slider.setAttribute('value', servings)
    slider.onchange = function () {
        multuplier = slider.value / servings
        console.log(multuplier)
        servings = slider.value
        serving_value.innerText = slider.value
        let amounts = document.getElementsByClassName('quantity')
        for (value in amounts) {
            // console.log(amounts[value])
            amounts[value].innerHTML = parseInt(amounts[value].innerHTML * multuplier)
        }
    }


    let ingredients_cont = document.getElementById('ingredients_cont')
    let ingredients = recipe_dict['ingredients']
    for (let item in ingredients) {
        let ingredient = document.createElement('div')
        ingredient.className = 'ingredient'
        ingredients_cont.appendChild(ingredient)

        let quantity = document.createElement('span')
        quantity.className = 'quantity'
        let value = (ingredients[item]['measures']['metric']['amount']) * multuplier
        // If quantity value is < 1, display is float rounded to 2 dec places
        // quantity value must not = 0 
        if (value < 1) {
            quantity.innerText = value.toFixed(2)
        } else {
            quantity.innerText = parseInt(value)
        }
        ingredient.appendChild(quantity)

        let unit = document.createElement('span')
        unit.className = 'units'
        unit.innerText = ingredients[item]['measures']['metric']['unitLong']
        ingredient.appendChild(unit)

        let name = document.createElement('span')
        name.className = 'name'
        name.innerText = ingredients[item]['originalName']
        ingredient.appendChild(name)
    }
    
    let method_cont = document.getElementById('method_cont')
    let steps = document.createElement('div')
    steps.innerHTML = recipe_dict['steps']
    method_cont.appendChild(steps)

    // let fav_button = document.getElementById('fav_button')
    // fav_button.addEventListener('click', function() {

    // })

   
</script>
{% endblock %}

<!-- 

For serving adjustments:

quant       =  {{ item['measures']['metric']['amount'] }}
units       =  {{ item['measures']['metric']['unitLong'] }}
ingredient  =  {{ item['originalName'] }}

quant value = quant value x ( new toggle value / previous toggle value )

How can I get the previous toggle value ??

-->
